/**
 * Post Excerpt Block Styles
 *
 * @package GambolBuilder
 */

.wp-block-gambol-post-excerpt {
	margin: 0;
}

.wp-block-gambol-post-excerpt__text {
	margin: 0 0 var(--gb-spacing-sm);
}

.wp-block-gambol-post-excerpt__read-more {
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	transition: color 0.2s ease;
	
	&:hover {
		text-decoration: underline;
	}
	
	&:focus {
		outline: 2px solid var(--gb-colors-primary);
		outline-offset: 2px;
	}
}

// Alignment
.wp-block-gambol-post-excerpt.has-text-align-center {
	text-align: center;
}

.wp-block-gambol-post-excerpt.has-text-align-right {
	text-align: right;
}

.wp-block-gambol-post-excerpt.has-text-align-left {
	text-align: left;
}
