/**
 * Section Block Styles
 *
 * Minimal, performance-first CSS.
 * Uses global CSS custom properties.
 *
 * @package GambolBuilder
 */

// Section base.
.wp-block-gambol-section {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	background-color: var(--gb-colors-background);
}

// Inner container.
.wp-block-gambol-section__inner {
	width: 100%;
	box-sizing: border-box;
}

// Boxed content - centered with max-width.
.wp-block-gambol-section.is-content-boxed > .wp-block-gambol-section__inner {
	margin-left: auto;
	margin-right: auto;
}

// Full width content.
.wp-block-gambol-section.is-content-full > .wp-block-gambol-section__inner {
	max-width: none;
}

// Vertical alignment - center.
.wp-block-gambol-section.is-vertically-aligned-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

// Vertical alignment - bottom.
.wp-block-gambol-section.is-vertically-aligned-bottom {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

// Vertical alignment - stretch.
.wp-block-gambol-section.is-vertically-aligned-stretch {
	display: flex;
	flex-direction: column;

	> .wp-block-gambol-section__inner {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
}
