/**
 * Post Title Block Styles
 *
 * @package GambolBuilder
 */

.wp-block-gambol-post-title {
	margin: 0;
}

.wp-block-gambol-post-title__heading {
	margin: 0;
	line-height: 1.3;
}

.wp-block-gambol-post-title__link {
	text-decoration: none;
	color: inherit;
	transition: color 0.2s ease;
	
	&:hover {
		color: var(--hover-color, var(--gb-colors-primary));
		
		.wp-block-gambol-post-title__heading {
			color: var(--hover-color, var(--gb-colors-primary));
		}
	}
	
	&:focus {
		outline: 2px solid var(--gb-colors-primary);
		outline-offset: 2px;
	}
}

// Alignment
.wp-block-gambol-post-title.has-text-align-center {
	text-align: center;
}

.wp-block-gambol-post-title.has-text-align-right {
	text-align: right;
}

.wp-block-gambol-post-title.has-text-align-left {
	text-align: left;
}
